body{
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color:#e5eff5;
    
}

.container{
    position: absolute;
    overflow: hidden;
    text-align: center;
    border-radius: 6px;
    margin: 10px 30px;
}

.intro{
    background-color: #fff;
}
.item{
    
    padding: 10px 40px;
    
}


.heading-primary{
    color: hsl(179, 62%, 43%);
}

.heading-secondary{
    color:hsl(71, 73%, 54%);
}

.heading-tertiay{
    font-weight: 700;
}

.about{
    color: hsl(218, 22%, 67%);
}

.one{
    background-color:hsl(179, 62%, 43%); 
    color: white;
    padding-bottom: 30px;
}

.cost{
    color: #fff;
    font-weight: 700;
}

    .cost small{
        color: lightblue;
    }

.btn{
    
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    width: unset;
    border-radius: 6px;
    text-decoration: none;
    
}

.two{
    background-color: hsl(179,43%,51%);
    color: white;
}

.value{
    color:lightblue ;
}