/*still learning css*/
body{
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color:#e5eff5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;

}

.container{
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    display: grid;
    width: fit-content;
    margin-top: 130px;
}

.intro{
    background-color: #fff;
}

/*.top-container{

}
*/
.bottom-container{
    display: grid;
    
}

.item{
    box-sizing: border-box;
    padding: 10px 40px;
    
}



.heading-primary{
    color: hsl(179, 62%, 43%);
}

.heading-secondary{
    color:hsl(71, 73%, 54%);
}

.heading-tertiay{
    font-weight: 700;
}

.about{
    color: hsl(218, 22%, 67%);
}

.one{
    background-color:hsl(179, 62%, 43%); 
    color: white;
    grid-column: 1;
}

.cost{
	color: #fff;
	font-size: 17px;
    font-weight: 700;
}
	.cost span{
		font-size: 26px;
	}

    .cost small{
		color: lightblue;
    }

.btn{
    
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 700;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
	text-align: center;
    display: block;
    width: 70%;
}

.two{
    background-color: hsl(179,43%,51%);
    color: white;
    grid-column: 2;
}

.value{
    color:lightblue ;
}